@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.slide-in-panel {
  position: fixed;
  top: 0;
  left: -35%;
  width: 35%;
  height: 100%;
  background-color: #f0f0f0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 1s ease-in-out;
  transform: translateX(-100%);
  z-index: 1000;
}

.slide-in-panel.visible {
  transform: translateX(100%);
}
